.gallery-container {
    margin: auto;
    border-radius: 10px;
    background-color: #383b42;
    padding: 30px;
    margin: 15px;
}
.gallery-content{
    justify-content: center;
}

.picture {
    margin: 10px;
    /* width: 40px; */
    flex-basis: 26%; 
    cursor: pointer;
    opacity:0.67;
}

.picture:hover{
    opacity:1;
}
.picture>* {
    border-radius: 10px;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
}
.saved-memes{
    border-radius: 10px;
    background-color: #383b42;
}
